<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="PathPDFS" value="C:\Users\jessi\Área de Trabalho\Pedro\CET - Programação\Programação para a WEB - (server-side)\lojaonline\lojaonline\PDFS\" />
    <add key="SiteURL" value="https://localhost:44303/" />
    <add key="SMTP_URL" value="smtp.office365.com" />
    <add key="SMTP_PORT" value="587" />
    <add key="SMTP_USER" value="Pedro.Almeida.22122@formandos.cinel.pt" />
    <add key="SMTP_PASSWORD" value="Analu!28" />
  </appSettings>
  <connectionStrings>
    <add name="lojaonlineConnectionString" connectionString="Data Source=&quot;JSSICA-ALMEIDA\SQLEXPRESS&quot;;Initial Catalog=lojaonline;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>